@charset "UTF-8";

body {
    background-color: #E9D9C0;
    padding: 0 10px;
}

/* header */
header {
    position: relative;
}

.header_slider img {
    width: 100%;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5% 0;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

h1 img {
    width: 434px;
    vertical-align: baseline;
}

.pc_nav ul {
    display: flex;
    gap: 48px;
}

.pc_nav ul li {
    color: #fff;
    font-family: "Alatsi", "sans-selif";
}

.base_container {
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 140px;
}

/* concept */
.concept {
    margin-top: 160PX;
}

.concept p {
    font-size: 24px;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 40px;
}

.title-text p {
    font-size: 26px;
    font-weight: normal;
    letter-spacing: 0.05em;
}

/* ABOUT */
.about_container {
    display: flex;
    justify-content: space-between;
    margin-block: 160PX;
}

.about_container img {
    border-bottom-right-radius: 64px;
}

.right_part h3 {
    text-align: left;
    margin-top: 0;
    margin-bottom: 8px;
}

.right_part,
.left_part {
    width: 50%;
    text-align: left;
}

/* MENU */
.menu_list {
    display: flex;
    gap: 32px;
    position: relative;
}

.menu_list img {
    border-top-right-radius: 64px;
    margin-bottom: 23px;
}

.drink h5 {
    position: absolute;
    top: 230px;
    left: 0;
}

.food h5 {
    position: absolute;
    top: 230px;
    left: 345px;
}

.sweets h5 {
    position: absolute;
    top: 230px;
    left: 688px;
}

.intro-text,
.menu_list p {
    font-size: 14px;
    line-height: 1.8;
    margin: 0;
}

/* EVENT */
.event_wrapper table {
    margin: 0 auto;
    padding: 30px 185px;
    border: 1px solid #333333;
    background-color: white;
}

.event_wrapper td {
    margin-left: 40px;
}

/* GALLERY */
.gallery_container,
.menu_wrapper {
    margin-bottom: 140px;
}

.gallery_container ul {
    display: flex;
}

.gallery_container img {
    width: 100%;
}


/* footer */
footer {
    padding-bottom: 60px;
    background-color: #fff;
}

.footer_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 39px;
}

.footer_container th,
td {
    font-size: 16px;
    font-weight: normal;
    color: #4F270B;
    text-align: left;
    line-height: 1.5;
    margin-inline: 32px;
}

.footer_container tr {
    margin-bottom: 16px;
}

.copy_write p {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;

    width: 1000px;
    margin: 0 auto;
}

.back_btn {
    position: fixed;
    bottom: 100px;
    right: 220px;
    z-index: 10;
}

.back_btn img {
    width: 140px;
}




/* スマホ版メニュー */
.sp_nav,
.sp_btn {
    display: none;
}

@media screen and (max-width:1100px) {
    .pc_nav {
        display: none;
    }

    .sp_btn {
        display: block;
        height: 27px;
        cursor: pointer;

        position: absolute;
        top: 34px;
        right: 27px;
        z-index: 2;
        transition: 0.3s;
    }

    .sp_btn span {
        display: block;
        width: 40.5px;
        height: 2px;
        border-radius: 2px;
        background: #fff;

        position: relative;
    }

    .sp_btn span::before,
    .sp_btn span::after {
        content: "";
        display: block;
        width: 40.5px;
        height: 2px;
        border-radius: 2px;
        background: #fff;

        position: absolute;
        transition: 0.3s;

    }

    .sp_btn span::before {
        bottom: 13.5px;
    }

    .sp_btn span::after {
        top: 13.5px;
    }

    /* ばつ印 */
    .sp_btn.open span {
        background: transparent;
    }

    .sp_btn.open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }

    .sp_btn.open span::after {
        top: 0;
        transform: rotate(-45deg);
    }

    /* メニューの見た目 */
    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0.6);
        z-index: 1;
    }

    .sp_nav li {
        color: #fff;
        font-size: 36px;
        font-family: "Alatsi", "san-serif";
    }

    .sp_nav ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 48px;
    }
}