@charset "utf-8";

body {
    max-width: 960px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 50px 0;
}

.container2 {
    width: 960px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
}

.box {
    width: 300px;
    height: 300px;
    background-color: blue;
}

.box2 {
    width: 300px;
    height: 300px;
    background-color: red;
}

.nav-container {
    margin-block: 50px;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li {
    color: gray;
    padding: 0 20px 0 20px;
    border-right: 1px solid gray;
}

h1 {
    color: gray;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.last {
    border: none;
}

@media screen and (max-width: 767px) {
    .nav {
        display: block;
    }

    .menu {
        display: block;
        margin-top: 20px;
    }

    li {
        padding: 10px;
        border-bottom: 1px solid gray;
        border-right: none;
    }

    .last {
        border-bottom: 1px solid gray;
    }
}