@charset "utf-8";

body {
    background-color: #eeeeee;
}

img {
    width: 100%;
}

h1 {
    background-color: #0a8271;
    color: white;
    text-align: left;
    padding: 10px 30px;
}

h2 {
    color: #0a8271;
    text-align: center;
    margin: 50px;
}

h3 {
    color: #0a8271;
    text-align: left;
    color: #0a8271;
    border-left: 8px solid #0a8271;
    padding: 3px 5px;
}


p {
    line-height: 1.5;
    margin-top: 5px;
}

.main-container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    padding: 0 20px;
}

.content {
    background-color: white;
}

.coment {
    margin: 10px;
}

footer {
    height: 50px;
    background-color: #0a8271;
    margin-top: 50px;

}


@media (max-width:400px) {

    .main-container {
        flex-direction: column;
    }
}