@charset "utf-8";

body {
    background-color: #eeeeee;
}

img {
    width: 100%;
}

h1 {
    background-color: #0a8271;
    color: white;
    text-align: left;
    padding: 10px 30px;
}

h2 {
    color: #0a8271;
    text-align: center;
    margin: 50px;
}

h3 {
    color: #0a8271;
    text-align: left;
    color: #0a8271;
    border-left: 8px solid #0a8271;
    padding: 3px 5px;
}

p {
    line-height: 1.5;
    padding: 5px;
}

.main-container {
    display: flex;
}

.content {
    background-color: white;
    margin: 20px 10px;
}

.coment {
    background-color: white;
    margin: 5px;
}


@media (max-width:400px) {

    .main-container {
        flex-direction: column;
    }
}